@charset 'utf-8';
.hidden {
  background-color: #16161D;
}
.shown {
  background-color: #4BDB3D;
}
@charset 'utf-8';
* {
	font: bold 6pt;
	font-family: monospace; 
	background: #16161D;
	color: #4BDB3D;
}

#titlebar{
	text-align: center; 
	width: 480px ;
	margin-left: auto ;
	margin-right: auto ;
}

#clockblock{
	border-spacing: 10px;
	width: 420px ;
	margin-left: auto ;
	margin-right: auto ;
}

#clock {

	border-spacing: 10px;
	background: #16161D;
	padding: 10px;
	border-radius: 10px;

}

#colon, #colon2 {
	color:red;
	text-decoration: blink;
}

